@zzmd: #3eba6c;
@defaultWhite:#fff;
@detailColor:#56a5e3;
@linecolor:rgba(221, 223, 224, 1);
@marginTop:20px;

.flexRcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
i{
  font-style: normal;
}
.cont-container {
  margin-top:@marginTop;
  .home-account {
    display: flex;
    flex-direction: row;
    background-color: @zzmd;
    .home-accountitem {
      flex:1;
      padding:40px 0;
      background:url("../../assets/img/images/gradline_60.png") no-repeat right top;
      text-align: center;
      * {
        color: #fff;
      }
      a {
        margin:0 13px;
        font-size: 12px;
      }
      .home-stitle {
        font-size: 16px;
      }
      .home-cash {
        margin: 20px 0;
        font-size: 30px;
        span {
          font-size: 24px;
        }
      }
    }
  }
  .home-withdraw {
    margin-top: 25px;
    padding-left: 15px;
    background: #fff;
    font-size:14px;
    .withdraw-item {
      .flexRcc;
      justify-content: space-between;
      border-bottom: 1px solid @linecolor;
      line-height: 40px;
      div {
        flex: 1;
      }
    }
    .withdraw-link{
      display: flex;
      flex:1;
      justify-content: flex-end;
      line-height:40px;
      padding-right:25px;
      // color:@detailColor;
      cursor:pointer;
    }
  }
}
.widthdraw{
  background:@defaultWhite;
  margin-top:@marginTop;
  padding-left:25px;
  .selcet-time{
    height: 70px;
    border-bottom: 1px solid @linecolor;
  }
  .widthdraw-wrapper{
    .widthdraw-record{
      height:70px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid @linecolor;
      font-size:12px;
      div{
        display: flex;
        flex:1;
        align-items: center;
        justify-content: center;
        span{
          line-height:1.5;
        }
        .widthdraw-money{
          font-size:16px;
        }
        .widthdarw-sub{
          color:#a6a6a6;
        }
        .bankimg{
          width:23px;
          height:23px;
          margin-right:25px;
        }
        .bank-time{
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .bank-name{
        flex-direction: column;
        align-items: flex-start;
      }
      .details{
        justify-content: flex-end;
        .withdraw-link{
          padding-right:25px;
          // color:@detailColor;
          cursor:pointer;
        }
      }
    }
  }
  .pagination{
    height:40px;
    padding-right:20px;
    line-height:40px;
    text-align: right;
  }
}
.cash-bank{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:380px;
        height:45px;
        padding-left:10px;
        margin-bottom:10px;
        border:1px solid @linecolor;
        border-radius:3px;
        .cash-bankbox{
          display:flex;
          flex-direction:row;
          margin-left:20px;
          .bank-box{
            display:flex;
            align-items:center;
            .bank-img{
              width:16px;
              height:16px;
              margin-right:10px;
            }
            .bank-name{
              margin-right:35px;
            }
          }
          .speedy{
            color:#fff;
            background-color:@zzmd;
            margin-left:12px;
            padding:0 5px;
          }
        }
      }
      .cash-num{
        width:100px;
        border:1px solid @linecolor;
        margin:0 5px 7px 0;
      }
.getcash{
  background:@defaultWhite;
  margin-top:@marginTop;
  padding:40px 0 0 140px;
  .getcash-cont{
    width:500px;
    display: flex;
    flex-direction:column;
    font-size:14px;
    .getcash-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom:40px;
      .cash-label{
        flex:1;
      }
      .cash-cont{
        flex:3;
      }
      
      
    }
  }
}
.trade{
  height:25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:@marginTop 0 15px 0;
  div{
    // flex:2;
    .trade-label{
      margin-right:10px;
    }
  }
}
.bill-container {
  margin-bottom:10px;
  .home-account {
    display: flex;
    flex-direction: row;
    background-color: @zzmd;
    .home-accountitem {
      flex: 1;
      padding: 25px 0;
      background: url("../../assets/img/images/smalline_80.png") no-repeat right top;
      text-align: center;
      * {
        color: #fff;
      }
      a {
        margin: 0 13px;
        font-size: 12px;
      }
      .home-stitle {
        font-size: 16px;
      }
      .home-cash {
        margin-top:10px;
        font-size: 30px;
        span {
          font-size: 24px;
        }
      }
    }
  }
  .bill-wrapper{
    background-color:@defaultWhite;
    .bill-title{
      color:#000;
      border-bottom:1px solid @linecolor;
    }
    .bill-item,.bill-title{
      font-size:14px;
      display:flex;
      padding:0 20px 0 25px;
      div{
        height:50px;
        display: flex;
        align-items: center;
        .bill-img{
          width:20px;
          height:20px;
        }
        .bill-date{
          margin-right:13px;
        }
      }
      .withdraw-link{
        // color:@detailColor;
        cursor:pointer;
      }
    }
    .bill-item:nth-child(2n+1){
      background:#edf9f2;
    }
  }
  .page-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    line-height: 60px;
    padding:0 20px 0 25px;
  }
}

